
@{
    ViewData["Title"] = "ForgotPassword";
}

@await Component.InvokeAsync("_AboutHeaderViewComponentPartial")
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            @if (TempData["success"] != null)
            {
                <div class="alert alert-warning">
                    @TempData["success"]
                </div>
            }
        </div>
    </div>
</div>

