
@{
    ViewData["Title"] = "ForgotPassword";
}

@await Component.InvokeAsync("_AccountForgotPasswordHeaderViewComponentPartial")
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-6 offset-3">
                <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="Email" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Email Gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

